/* Global Selectors */
* {
  color: #f6f6f6;
  font-family: 'Asap', sans-serif;
}

body {
  background-color: #2c2e3e;
  margin: 0;
}

/* Global Classes */
.container {
  margin: 0 auto;
  padding: 0 1em;
}

.header-line {
  background-color: #ee2b47;
  height: 2px;
  width: 100%;
}

.header {
  float: left;
  margin: 3em 0;
  width: 100%;
}

.typewrite {
  border-right: 0.08em solid #ee2b47;
}

.space-right {
  padding-right: 0.5em;
}

/* Navigation Bar */
.nav-logo {
  float: left;
  font-size: 1.25em;
  text-decoration: none;
}

.nav-profession {
  color: #ee2b47;
}

.nav-bar {
  float: right;
}

.nav-list {
  list-style-type: none;
  margin: 0;
}

.nav-item {
  float: left;
}

.nav-item a.nav-link:hover span {
  color: #ee2b47;
}

.nav-item a.nav-link:hover i {
  color: #ee2b47;
  animation-duration: 0.4s;
  animation-timing-function: ease-in-out;
  animation-name: bounce;
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.nav-link {
  display: block;
  font-size: 1.25em;
  padding: 0.625em 2em;
  text-decoration: none;
}

/* Media Queries */
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
