/* Global Selectors */
* {
  color: #f6f6f6;
  font-family: 'Asap', sans-serif;
}

body {
  background: #34374c;
  margin: 0;
}

button:focus {
  outline: none;
}

/* Global Classes */
.page-container {
  display: block;
  margin: 0 auto;
  padding: 0 1em;
}

.header-line {
  background-color: #ee2b47;
  height: 2px;
  width: 100%;
}

.header {
  float: left;
  margin: 1.5em 0;
  width: 100%;
}

.typewrite {
  border-right: 0.08em solid #ee2b47;
}

.space-right {
  padding-right: 0.5em;
}

.emphasis {
  color: #ee2b47;
}

.default-button {
  background: #ee2b47;
  border-bottom: 2px solid #b52036;
  border-left: 2px solid #ee2b47;
  border-right: 2px solid #b52036;
  border-top: 2px solid #ee2b47;
  border-radius: 0.25em;
  font-size: 1em;
  padding: 0.5em;
}

.default-button:active {
  border-bottom: 2px solid #ee2b47;
  border-left: 2px solid #b52036;
  border-right: 2px solid #ee2b47;
  border-top: 2px solid #b52036;
}

/* Global Id's */
#welcome-page {
  bottom: 0;
  float: left;
  font-size: 1.25em;
  margin: 2.5em 0;
}

#welcome-page h1 {
  font-size: 3em;
  margin: 0;
}

#welcome-page p {
  margin-top: 0.8em;
}

#page-footer {
  background: #2c2e3e;
  bottom: 0;
  position: absolute;
  width: 100%;
}

/* Navigation Bar */
.nav-logo {
  float: left;
  font-size: 1.25em;
  text-decoration: none;
}

.nav-profession {
  color: #ee2b47;
}

#nav-icon {
  background: #34374c;
  border: none;
  cursor: pointer;
  display: none;
  float: right;
  font-size: 2em;
  padding: 0em 0.3em;
  padding-bottom: 0.1em;
  text-decoration: none;
}

.nav-bar {
  float: right;
}

.nav.collapse {
  display: block;
}

.nav-list {
  /*float: right;*/
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.nav-list:after {
  content: "";
  display: table;
  clear: both;
}

.nav-item {
  float: left;
}

.nav-item a.nav-link:hover span {
  color: #ee2b47;
}

.nav-item a.nav-link:hover i {
  color: #ee2b47;
  -webkit-animation: 0.4s ease-in-out bounce;
          animation: 0.4s ease-in-out bounce;
}

@-webkit-keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

@keyframes bounce {
  0%, 100% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }
}

.nav-link {
  display: block;
  font-size: 1.25em;
  padding: 0.625em 2em;
  text-decoration: none;
}

/* Nav Overlay. */
.overlay {
  background: rgb(44,46,62);
  background: rgba(44,46,62, 0.9);
  display: none;
  height: 0;
  left: 0;
  overflow-y: hidden;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

.overlay-content {
  margin-top: 2em;
  position: relative;
  text-align: center;
  top: 25%;
  width: 100%;
}

.overlay-link {
  display: block;
  font-size: 1.25em;
  padding: 0.625em 2em;
  text-decoration: none;
}

.overlay a.overlay-link:hover span {
  color: #ee2b47;
}

.overlay a.overlay-link:hover i {
  color: #ee2b47;
  -webkit-animation: 0.4s ease-in-out bounce;
          animation: 0.4s ease-in-out bounce;
}

.overlay #close-overlay {
  border: none;
  background: rgb(44,46,62);
  background: rgba(44,46,62, 0.9);
  font-size: 2.5em;
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

/* Content Fade In / Out. */
#fade-container {
  float: left;
  width: 100%;
}

.fade {
  -webkit-animation: 1.0s linear forwards fade;
          animation: 1.0s linear forwards fade;
}

.reverse-fade {
  -webkit-animation: 1.0s linear reverse forwards fade;
          animation: 1.0s linear reverse forwards fade;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* Used to mark links that navigate to seperte web pages. */
.page-swap {}

/* Media Queries. */
@media (min-width: 1200px) {
  .page-container {
    width: 1200px;
  }
}

@media (max-width: 780px) {
  #nav-icon {
    display: inline-block;
  }

  .nav-bar {
    display: none;
  }

  .overlay {
    display: inline-block;
  }

  /*#welcome-page h1 {
    font-size: 2.25em;
  }*/
}

@media (max-width: 536px) {
  #welcome-page h1 {
    font-size: 2.25em;
  }
}
