<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<section id="project-section">
  <!-- Project Filters -->
  <div id="project-filters">
    <!-- All Projects -->
    <div class="underline">
      <ul>
        {% if active_category is None and active_year is None %}
        <li><a class="active" href="{% url 'projects_all' %}">All</a></li>
        {% else %}
        <li><a href="{% url 'projects_all' %}">All</a></li>
        {% endif %}
        <li></li>
      </ul>
    </div>

    <!-- Categories -->
    <div class="underline">
      <h1>Categories</h1>
      <ul>
        {% for cat in categories %}
        {% if cat.name == active_category|title %}
        <li>
          <a class="active" href="{% url 'projects_cat' cat.slug %}">
            {{ cat }}
          </a>
        </li>
        {% else %}
        <li><a href="{% url 'projects_cat' cat.slug %}">{{ cat }}</a></li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>

    <!-- Dates -->
    <div class="underline">
      <h1>Dates</h1>
      <ul>
        {% for year in dates %}
        {% if year == active_year %}
        <li>
          <a class="active" href="{% url 'projects_year' year %}">
            {{ year }}
          </a>
        </li>
        {% else %}
        <li>
          <a href="{% url 'projects_year' year %}">
          {{ year }}
          </a>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Project Case Studies -->
  <div id="project-cases">
    {% for project in projects %}
    {% if project.image %}
    <a href="#">
      <div class="project" style="background-image: url('{{ project.image.url }}')">
        <div class="project-overlay">
          <span>{{ project.date.year }}</span>
        </div>
      </div>
      <div class="project-info-touch">
        {{ project.title }}
      </div>
    </a>
    {% else %}
    <a href="#">
      <div class="project">
        <div class="project-overlay">
          <span>{{ project.date.year }}</span>
        </div>
      </div>
      <div class="project-info-touch">
        {{ project.title }}
      </div>
    </a>
    {% endif %}
    {% endfor %}
  </div>
</section>
{% endblock %}
