<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<section id="project-section">
  <!-- Project Dates Search -->
  <div id="project-dates" class="underline">
    <h1>Dates</h1>
    <ul>
      {% if active_year is None %}
      <li><a class="active" href="{% url 'projects_all' %}">All</a></li>
      {% else %}
      <li><a href="{% url 'projects_all' %}">All</a></li>
      {% endif %}

      {% for year in dates %}
      {% if year == active_year %}
      <li>
        <a class="active" href="{% url 'projects_year' year %}">{{ year }}</a>
      </li>
      {% else %}
      <li><a href="{% url 'projects_year' year %}">{{ year }}</a></li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

  <!-- Project Case Studies -->
  <div id="project-cases">
    {% for project in projects %}
    <a class="project" href="#">
      <div class="project-title">
        {{ project.title }}
      </div>
    </a>
    {% endfor %}
  </div>
</section>
{% endblock %}
