{% extends 'base.html' %}
{% load static %}

{% block title %}<title>About | Adam Joyce Web Developer</title>{% endblock %}

{% block page_content %}
<div id="page-section">
  <div class="page-content">
    <div class="page-title"><h1>ABOUT</h1></div>
    <div id="about-content">
      <img class="profile-image" src="/static/images/profile_image.jpg"
           alt="Profile image of Adam Joyce">
      <div id="about-description">
        <p>Hi my name is Adam!  I'm a full-stack web developer.</p><br>
        <p>I specialise in responsive front-end design and efficient back-end
        solutions using Django.</p><br>
        <p>A number of my previous commercial and personal projects can be viewed
        under the 'projects' section of this website.</p><br>
        <p>Each project comes with a direct link to the live website.</p><br>
        <p>If you are interested in discussing your idea please follow the button
        below and fill out the provided form.</p>
      </div>
    </div>
  </div>
  <a class="default-button addition-v-margin" href="{% url 'contact' %}">
    Build My Website
  </a>
</div>
{% endblock %}
