<!DOCTYPE html>
{% load static %}

<html>
  <head>
    <meta charset="utf-8">
    {% block title %}
    <title>Adam Joyce Web Developer</title>
    {% endblock %}

    <!-- Stylesheets -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  </head>
  <body>
    <div class="header-line"></div>
    <div class="page-container">
      <header class="header">
        <!-- Brand -->
        <a class="nav-logo" href="/">
          <span>Adam Joyce</span><br>
          <span
          class="nav-profession typewrite"
          data-text=
          '["Software Engineer", "Full-Stack Developer",
            "Board Game Enthusiast", "Novice Guitar Plucker", "Human Male"]'
          data-delay="1000">
          </span>
        </a>
        <button id="nav-icon" type="button">&#9776;</button>

        <!-- Navbar -->
        <nav class="nav-bar">
          <ul class="nav-list">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'projects' %}">
                <span class="space-right">
                  <i class="fa fa-code" aria-hidden="true"></i>
                </span>
                <span>Projects</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="space-right">
                  <i class="fa fa-rss" aria-hidden="true"></i>
                </span>
                <span>Blog</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <span class="space-right">
                  <i class="fa fa-male" aria-hidden="true"></i>
                </span>
                <span>About</span>
              </a>
            </li>
          </ul>
          <a href="#"></a>
        </nav>

        <!-- Navigation Overlay for Small Screens -->
        <div id="nav-overlay" class="overlay">
          <button id="close-overlay" type="button">&times;</button>
          <div class="overlay-content">
            <a class="overlay-link" href="{% url 'projects' %}">
              <span class="space-right">
                <i class="fa fa-code" aria-hidden="true"></i>
              </span>
              <span>Projects</span>
            </a>
            <a class="overlay-link" href="#">
              <span class="space-right">
                <i class="fa fa-rss" aria-hidden="true"></i>
              </span>
              <span>Blog</span>
            </a>
            <a class="overlay-link" href="#">
              <span class="space-right">
                <i class="fa fa-male" aria-hidden="true"></i>
              </span>
              <span>About</span>
            </a>
          </div>
        </div>
      </header>

      {% block page_content %}
      {% endblock %}
    </div>

    {% block page_footer %}
    <footer id="page-footer">
      <div class="page-container">
        <p>this is the footer content</p>
      </div>
    </footer>
    {% endblock %}

    <!-- Scripts -->
    <script type="text/javascript" src="{% static 'js/base.js' %}"></script>
  </body>
</html>
