<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block title %}<title>Adam Joyce Web Developer</title>{% endblock %}

    <!-- Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Asap:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="{% static 'css/reset.css' %}" rel="stylesheet">
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="horizontal-line"></div>
    <div id="page-container">
      <header id="header-container">
        <!-- Logo -->
        <a id="nav-logo" href="/">
          Adam Joyce<br>
          <span
          id="profession"
          class="typewrite"
          data-text=
          '["Software Engineer", "Full-Stack Developer",
            "Board Game Enthusiast", "Novice Guitar Plucker", "Human Male"]'
          data-delay="1000"></span>
        </a>
        <button id="nav-icon" type="button">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <!-- Navbar -->
        <nav class="nav-bar">
          <ul>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-code" aria-hidden="true"></i>
                Projects
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-rss" aria-hidden="true"></i>
                Blog
              </a></li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-male" aria-hidden="true"></i>
                About
              </a>
            </li>
          </ul>
        </nav>

        <!-- Navigation Overlay for Small Screens -->
        <div id="nav-overlay" class="overlay">
          <button id="close-overlay" type="button">
            <i class="fa fa-times" aria-hidden="true"></i>
          </button>
          <div class="overlay-content">
            <a class="overlay-block nav-link" href="#">
              <i class="fa fa-code" aria-hidden="true"></i>
              Projects
            </a>
            <a class="overlay-block nav-link" href="#">
              <i class="fa fa-rss" aria-hidden="true"></i>
              Blog
            </a>
            <a class="overlay-block nav-link" href="#">
              <i class="fa fa-male" aria-hidden="true"></i>
              About
            </a>
          </div>
        </div>
      </header>

      {% block page_content %}
      {% endblock %}
    </div>

    <!-- Scripts -->
    {% block scripts %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/overlay.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/typewriter.js' %}">
    </script>
    <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
  </body>
</html>
