<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<!-- Title Page Information -->
<section id="landing-section">
  <h1>Hi,</h1>
  <h1>I'm <span class="emphasis">Adam</span>,</h1>
  <h1>Full Stack <span class="emphasis">Web Developer</span>.</h1>
  <hr>
  <p><span class="emphasis">Resposive</span> Front-End Design |
  <span class="emphasis">Efficient</span> Back-End Development |
  <span class="emphasis">Adaptable</span> Programmer</p>
  <button class="default-button" type="button" name="button">
    Build My Website
  </button>
</section>
{% endblock %}

{% block page_footer %}
{% endblock %}

{% block scripts %}
<!-- <script type="text/javascript" src="{% static 'js/center.js' %}"></script> -->
{% endblock %}
