<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}

{% block page_content %}
<!-- Title Page Information -->
<section id="landing-section">
  <h1>Hi,</h1>
  <h1>I'm <span class="emphasis">Adam</span>,</h1>
  <h1>
    Full Stack <br class="responsive-break" />
    <span class="emphasis">Web Developer</span>.
  </h1>
  <hr>
  <p><span class="emphasis">Resposive</span> Front-End Design |
  <br class="responsive-break" />
  <span class="emphasis">Efficient</span> Back-End Development |
  <br class="responsive-break" />
  <span class="emphasis">Adaptable</span> Programmer</p>
  <a href="{% url 'contact' %}">
    <button class="default-button" type="button" name="button">
      Build My Website
    </button>
  </a>
</section>
{% endblock %}

{% block page_footer %}
{% endblock %}

{% block scripts %}
{% endblock %}
